.nav-bar {
  display: flex;
  justify-content: space-between;
}

#hamburger {
  margin-top: 15px;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #shapes {
    display: none;
  }

  .nav-bar {
    justify-content: center;
    align-content: center;
    box-shadow: 0 0.5px 0 #dddfe6;
    height: 100px;
  }

  .menu {
    width: 350px;
    display: flex;
    padding-top: 2vh;
    list-style: none;
    padding-left: 0%;
    column-gap: 10%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    text-decoration: none;
    color: rgba(26, 34, 54, 1);
  }

  a:hover {
    text-decoration: underline;
  }
}

body {
  margin: 0%;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: rgba(26, 34, 54, 1);
  margin-left: 16px;
  margin-bottom: 5%;
}

.presentation {
  color: rgba(26, 34, 54, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.start-btn {
  align-self: center;
  background-color: rgba(26, 34, 54, 1);
  height: 50px;
  width: 288px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.start-btn:hover {
  border-style: 1px solid;
  border-color: rgba(26, 34, 54, 1);
  color: rgba(26, 34, 54, 1);
  background-color: white;
}

@media (max-width: 768px) {
  .geometry2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .headline {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .geometry {
    display: none;
  }

  .geometry2 {
    width: 50%;
  }

  .hero {
    background-image: url(./images/image_dots.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    justify-content: left;
  }

  .title {
    font-size: 110px;
    line-height: 110px;
    padding-left: 7%;
    padding-top: 10%;
  }

  .presentation {
    font-size: 14px;
    padding-left: 10%;
    padding-right: 20%;
  }

  .start-btn {
    width: 254px;
  }
}

.geometry {
  margin-top: 10%;
}

.projects {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sub-div {
  background-color: rgba(26, 34, 54, 1);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-left: 16px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 20px;
}

.subtitle {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 300;
  line-height: 80%;
  letter-spacing: 0.05em;
}

.project1 {
  width: 100%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.btn-list {
  display: flex;
  justify-content: left;
  list-style: none;
  align-self: center;
  padding-left: 0%;
}

.tech-btn {
  background-color: rgba(152, 222, 222, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 10.33px;
  padding: 5px;
  color: rgba(26, 34, 54, 1);
  margin-right: 10px;
}

@media (min-width: 768px) {
  .projects {
    display: none;
  }
}

.see-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  background-color: transparent;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  border: 1px solid;
  width: 190px;
  background-image: url(./images/Union.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  padding-right: 25px;
}

.cvbtn {
  background-color: rgba(26, 34, 54, 1);
  background-image: url(./images/ic_download.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 75%;
  height: 50px;
  width: 288px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-left: 20%;
  margin: 0 auto;
}

.cvbtn:hover {
  border-style: 1px solid;
  border-color: rgba(26, 34, 54, 1);
  color: rgba(26, 34, 54, 1);
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}

.my-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding-left: 15%;
  margin: 3%;
  padding-top: 10%;
  padding-bottom: 15%;
}

#languages {
  background-image: url(./images/ic_languages_mob.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-color: rgba(28, 82, 138, 1);
}

#frameworks {
  background-image: url(./images/Group18.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-color: rgba(226, 80, 92, 1);
}

#skills {
  background-image: url(./images/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-color: rgba(254, 191, 82, 1);
}

.languages h2 {
  font-weight: 800;
}

@media (max-width: 768px) {
  #dots {
    display: none;
  }
}

@media (min-width: 768px) {
  .about1 {
    display: flex;
    flex-direction: row-reverse;
  }

  .my-info {
    width: 50%;
    padding-top: 5%;
  }

  .cvbtn {
    padding-left: 12%;
    margin-left: 10%;
  }

  .skills {
    width: 50%;
    padding: 10% 2% 10% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
  }

  .box {
    margin: 0%;
  }

  #dots {
    background-image: url(./images/image_dots.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
}

form {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 250, 1);
  padding-bottom: 30%;
}

form > ul {
  padding-left: 7%;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

input[type=email],
input[type=text] {
  width: 87%;
  padding-top: 8%;
  padding-bottom: 10px;
  border-radius: 4px;
  border-color: #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-left: 3%;
  padding-right: 0%;
}

label {
  position: absolute;
  color: rgba(125, 124, 132, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  padding-left: 3%;
  padding-top: 3%;
}

textarea {
  width: 87%;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-left: 3%;
  padding-top: 3%;
  height: 112px;
}

#shapes-bottom {
  width: 25%;
  height: auto;
}

@media (max-width: 768px) {
  .geometry-6 {
    display: none;
  }

  .geometry-7 {
    display: none;
  }

  #message-label {
    display: none;
  }
}

@media (min-width: 768px) {
  .started {
    flex-direction: column;
    background-color: rgba(249, 249, 250, 1);
    background-image: url(./images/image-geometry_7.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }

  #shapes-bottom {
    display: none;
  }

  .geometry-6 {
    position: absolute;
  }

  .geometry-7 {
    bottom: 0;
    right: 0;
  }

  form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .title2 {
    text-align: center;
    margin-left: 0;
    padding-left: 0%;
  }

  .presentation2 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
  }

  form > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". ."
      ". .";
    padding-left: 5%;
    height: 270px;
  }

  #t-area {
    grid-column: span 2;
    width: 105%;
  }

  label {
    position: relative;
    padding-left: 0%;
    font-size: 12px;
  }

  input[type=email],
  input[type=text] {
    font-size: 16px;
  }

  textarea {
    font-size: 16px;
  }
}

footer {
  background-color: #1a2236;
  padding-top: 8%;
  padding-bottom: 5%;
  padding-left: 5%;
}

footer > button {
  font-family: 'Poppins', sans-serif;
  color: rgba(146, 220, 220, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 175px;
  text-decoration: none;
  background-color: transparent;
  border-style: none;
  background-image: url(./images/union-1.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: right;
  text-align: left;
}

footer > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 0%;
  padding-right: 5%;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    padding: 0%;
  }

  footer > ul {
    padding: 2% 11%;
    column-gap: 25px;
  }

  footer > button {
    font-size: 18px;
    margin-left: 7%;
  }
}
