.nav-bar {
  display: flex;
  justify-content: space-between;
}

#hamburger {
  margin-top: 15px;
  margin-right: 16px;
}

@media (max-width: 768px) {
  #menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 1);
    background-image: url(./images/image_geometry_menu_2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #menu > li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 48px;
    font-weight: 400;
  }

  .mobile-geo {
    position: absolute;
    left: 0%;
    top: 0%;
  }

  #close-icon {
    position: absolute;
    top: 4%;
    right: 5%;
  }

  .menu-desk {
    display: none;
  }
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #shapes {
    display: none;
  }

  #close-icon {
    display: none;
  }

  .mobile-geo {
    display: none;
  }

  .menu {
    display: none;
  }

  .nav-bar {
    justify-content: center;
    align-content: center;
    box-shadow: 0 0.5px 0 #dddfe6;
    height: 100px;
  }

  .menu-desk {
    width: 350px;
    display: flex;
    padding-top: 2vh;
    list-style: none;
    padding-left: 0%;
    column-gap: 10%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    text-decoration: none;
    color: rgba(26, 34, 54, 1);
  }

  a:hover {
    text-decoration: underline;
    transform: scale(1.5);
  }
}

body {
  margin: 0%;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: rgba(26, 34, 54, 1);
  margin-left: 16px;
  margin-bottom: 5%;
}

.presentation {
  color: rgba(26, 34, 54, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.start-btn {
  align-self: center;
  background-color: rgba(26, 34, 54, 1);
  height: 50px;
  width: 288px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: ease-out 250ms;
}

.start-btn:hover {
  border-color: rgba(26, 34, 54, 1);
  color: rgba(26, 34, 54, 1);
  background-color: white;
}

@media (max-width: 768px) {
  .geometry2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .headline {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .geometry {
    display: none;
  }

  .geometry-desk {
    width: 50%;
  }

  .hero {
    background-image: url(./images/image_dots.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    justify-content: left;
  }

  .title {
    font-size: 110px;
    line-height: 110px;
    padding-left: 7%;
    padding-top: 10%;
  }

  .presentation {
    font-size: 14px;
    padding-left: 10%;
    padding-right: 20%;
  }

  .start-btn {
    width: 254px;
    padding-left: 0%;
    margin-right: auto;
    margin-left: 10%;
  }
}

.geometry {
  margin-top: 10%;
}

.projects {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sub-div {
  background-color: rgba(26, 34, 54, 1);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0%;
  padding-left: 5%;
  margin-bottom: 0%;
  padding-bottom: 20px;
}

.subtitle {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 300;
  line-height: 80%;
  letter-spacing: 0.05em;
}

.project1 {
  width: 100%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.btn-list {
  display: flex;
  justify-content: left;
  list-style: none;
  align-self: center;
  padding-left: 0%;
}

.tech-btn {
  background-color: rgba(152, 222, 222, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 10.33px;
  padding: 5px;
  color: rgba(26, 34, 54, 1);
  margin-right: 10px;
}

@media (max-width: 768px) {
  .desktop-p {
    display: none;
  }

  .container,
  .geometry-desk {
    display: none;
  }
}

@media (min-width: 768px) {
  .projects {
    display: none;
  }

  .container {
    margin-top: 7%;
    margin-bottom: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr 0.8fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.7fr 1.3fr 1.4fr 0.6fr 1.2fr 0.8fr 1fr 0.3fr 1.7fr 1.3fr;
    gap: 0 0;
    grid-template-areas:
      "title title title title title project1 project1 project1 project1 project1 project1 project1 project1 project1 project1"
      "title title title title title project1 project1 project1 project1 project1 project1 project1 project1 project1 project1"
      "title title title title title project1 project1 project1 project1 project1 project1 project1 project1 project1 project1"
      "title title title title title project1 project1 project1 project1 project1 project1 project1 project1 project1 project1"
      "title title title title title project1 project1 project1 project1 project1 project1 project1 project1 project1 project1"
      "title title title title title geometry1 geometry1 geometry1 geometry1 geometry1 project2 project2 project2 project2 project2"
      "laptop1 laptop1 laptop1 laptop1 laptop1 geometry1 geometry1 geometry1 geometry1 geometry1 project2 project2 project2 project2 project2"
      "laptop1 laptop1 laptop1 laptop1 laptop1 geometry1 geometry1 geometry1 geometry1 geometry1 project2 project2 project2 project2 project2"
      "laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 . . project2 project2 project2 project2 project2"
      "laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 . . project2 project2 project2 project2 project2"
      "laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 geometry2 geometry2 geometry2 geometry2 geometry2 geometry2 geometry2"
      "laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 geometry2 geometry2 geometry2 geometry2 geometry2 geometry2 geometry2"
      "laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 laptop2 geometry2 geometry2 geometry2 geometry2 geometry2 geometry2 geometry2"
      "geometry3 geometry3 geometry3 geometry3 geometry3 geometry3 geometry3 geometry3 laptop3 laptop3 laptop3 laptop3 laptop3 . ."
      ". . . . . . . . laptop3 laptop3 laptop3 laptop3 laptop3 . .";
    height: 1600px;
  }

  .geometry1 {
    grid-area: geometry1;
    background-image: url(./images/image-geometry_2.svg);
    background-repeat: no-repeat;
  }

  .laptop2 {
    grid-area: laptop2;
    background-image: url(./images/Image3.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .laptop1 {
    grid-area: laptop1;
    background-image: url(./images/Image2.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project1 {
    grid-area: project1;
    background-color: #1a2236;
    background-image: url(./images/Rectangle211.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sub-div {
    margin-top: 30%;
  }

  .p-title {
    grid-area: title;
    background-image: url(./images/image_dots.svg);
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .title1 {
    transform: rotate(-90deg);
    position: relative;
    top: 7%;
    left: -13%;
  }

  .geometry2 {
    grid-area: geometry2;
    background: url(./images/square.svg) bottom left no-repeat, url(./images/Group\ 83.svg) top right no-repeat;
  }

  .geometry3 {
    grid-area: geometry3;
    background: url(./images/image-geometry_5.svg) left no-repeat, url(./images/image-geometry_4.svg) right no-repeat;
    background-size: contain;
  }

  .project2 {
    grid-area: project2;
    background-color: #1a2236;
    background-image: url(./images/Image5.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 2px solid white;
  }

  .subtitle {
    font-size: 30px;
  }

  .p2 {
    margin-top: 0%;
  }

  .laptop3 {
    grid-area: laptop3;
    background-image: url(./images/Image4.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.see-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  background-color: transparent;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  border: 1px solid;
  background-image: url(./images/Union.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  padding-right: 50px;
}

.see-btn:hover {
  background-color: white;
  color: #1a2236;
}

.see-btn::selection {
  border: 2px solid #1a2236;
}

.cvbtn {
  background-color: rgba(26, 34, 54, 1);
  background-image: url(./images/ic_download.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 75%;
  height: 50px;
  width: 288px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-left: 20%;
  margin: 0 auto;
  transition: ease-out 250ms;
}

.cvbtn:hover {
  border-color: rgba(26, 34, 54, 1);
  color: rgba(26, 34, 54, 1);
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}

.my-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding-left: 15%;
  margin: 3%;
  padding-top: 10%;
  padding-bottom: 15%;
}

#languages {
  background-image: url(./images/ic_languages_mob.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-color: rgba(28, 82, 138, 1);
}

#frameworks {
  background-image: url(./images/Group18.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-color: rgba(226, 80, 92, 1);
}

#skills {
  background-image: url(./images/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-color: rgba(254, 191, 82, 1);
}

.languages h2 {
  font-weight: 800;
}

@media (max-width: 768px) {
  #dots {
    display: none;
  }
}

@media (min-width: 768px) {
  .about1 {
    display: flex;
    flex-direction: row-reverse;
  }

  .my-info {
    width: 50%;
    padding-top: 5%;
  }

  .cvbtn {
    padding-left: 12%;
    margin-left: 10%;
  }

  .skills {
    width: 50%;
    padding: 10% 2% 10% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
  }

  .box {
    margin: 0%;
  }

  #dots {
    background-image: url(./images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
}

form {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 250, 1);
  padding-bottom: 30%;
}

form > ul {
  padding-left: 7%;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

input[type=email],
input[type=text] {
  width: 87%;
  padding-top: 8%;
  padding-bottom: 10px;
  border-radius: 4px;
  border-color: #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-left: 3%;
  padding-right: 0%;
}

label {
  position: absolute;
  color: rgba(125, 124, 132, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  padding-left: 3%;
  padding-top: 3%;
}

textarea {
  width: 87%;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-left: 3%;
  padding-top: 3%;
  height: 112px;
}

#shapes-bottom {
  width: 25%;
  height: auto;
}

@media (max-width: 768px) {
  .geometry-6 {
    display: none;
  }

  .geometry-7 {
    display: none;
  }

  #message-label {
    display: none;
  }
}

@media (min-width: 768px) {
  .started {
    flex-direction: column;
    background-color: rgba(249, 249, 250, 1);
    background-image: url(./images/image-geometry_7.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }

  #shapes-bottom {
    display: none;
  }

  .geometry-6 {
    position: absolute;
  }

  form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .title2 {
    text-align: center;
    margin-left: 0;
    padding-left: 0%;
  }

  .presentation2 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
  }

  form > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". ."
      ". .";
    padding-left: 5%;
    height: 270px;
  }

  #t-area {
    grid-column: span 2;
    width: 105%;
    padding-top: 0%;
  }

  label {
    position: relative;
    font-size: 12px;
  }

  input[type=email],
  input[type=text] {
    font-size: 16px;
  }

  textarea {
    font-size: 16px;
  }

  .start1 {
    margin-left: auto;
  }
}

footer {
  background-color: #1a2236;
  padding-top: 8%;
  padding-bottom: 5%;
  padding-left: 5%;
}

footer > button {
  font-family: 'Poppins', sans-serif;
  color: rgba(146, 220, 220, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 175px;
  text-decoration: none;
  background-color: transparent;
  border-style: none;
  background-image: url(./images/union-1.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: right;
  text-align: left;
}

footer > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 0%;
  padding-right: 5%;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
  }

  footer > ul {
    padding: 2% 11%;
    column-gap: 25px;
  }

  footer > button {
    font-size: 18px;
    margin-left: 7%;
  }
}

.popup {
  position: absolute;
  display: flex;
  left: 0%;
  top: 79%;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1);
  background-color: white;
  height: 150vh;
  border-top: 55px solid;
  border-bottom: 55px solid;
}

.popup > h2 {
  padding-left: 5%;
  font-size: 18px;
  margin-top: 15%;
}

.popup > ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  gap: 2%;
}

.popup > ul li {
  border: 0.5px solid rgba(26, 34, 54, 1);
  padding: 1%;
  font-size: 10.33px;
}

.popup > p {
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 400;
  margin-bottom: 10%;
}

.popup > a {
  background-color: transparent;
  border: 1px solid #1a2236;
  width: 75%;
  padding-top: 4%;
  padding-bottom: 4%;
  align-self: center;
  margin-bottom: 3%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

#popBtn1 {
  background-image: url(./images/Union-b.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: center;
}

#popBtn2 {
  background-image: url(./images/git-b.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: center;
}

#img-popup {
  width: 90%;
  margin: 0 auto;
}

#desk-popup {
  position: absolute;
  top: 125%;
  height: 215vh;
  background-color: white;
  display: none;
  flex-direction: column;
  border: 70px solid rgba(26, 34, 54, 0.95);
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1);
}

#closedesk-icon {
  position: absolute;
  right: 5%;
  top: 5%;
}

#desk-popup > h2 {
  font-size: 60px;
  font-weight: 700;
  padding-left: 5%;
  margin-bottom: 0.5%;
}

#desk-popup > ul {
  display: flex;
  padding-left: 5%;
  list-style: none;
}

#desk-popup > ul li {
  border: 1px solid #1a2236;
  margin-right: 2%;
  padding: 0.5%;
}

#desk-graph {
  width: 90%;
  padding-top: 3%;
  margin: 0 auto;
}

#desk-popup > p {
  margin: 5% 25%;
  font-size: 18px;
}

#btndiv {
  margin-left: 25%;
  display: flex;
  gap: 4%;
}

#popBtn1-desk,
#popBtn2-desk {
  width: 25%;
  background-color: transparent;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 18px;
  border: 1px solid  #1a2236;
}

#popBtn1-desk {
  background-image: url(./images/Union-b.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: center;
  text-align: center;
}

#popBtn2-desk {
  background-image: url(./images/git-b.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: center;
  text-align: center;
}

#fwdBck {
  margin: 5% 20%;
  display: flex;
  justify-content: space-between;
}

#fwd,
#bck {
  font-family: 'Poppins', sans-serif;
  color: rgba(26, 34, 54, 1);
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: none;
}

#fwd {
  text-align: left;
  width: 25%;
  background-image: url(./images/fwd-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

#bck {
  text-align: right;
  width: 20%;
  background-image: url(./images/bck-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}

@media (max-width: 768px) {
  #desk-popup {
    display: none;
  }
}
